<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand fw-bold " href="/">Study Room Booking — C237_002_TEAM5_CA2</a>
        <div class="navbar-nav ms-auto">
            <% if (user) { %>
                <span class="nav-item nav-link text-muted">Welcome, <%= user.name %></span>
                <% if (user.role === 'admin') { %>
                    <a class="nav-item nav-link text-success" href="/view_users">Manage Users</a>
                    <a class="nav-item nav-link text-info" href="/manage_admin_access_requests">Admin Access Requests</a>
                <% } else { %>
                    <a class="nav-item nav-link text-primary" href="/dashboard">Dashboard</a>
                    <% if (user.role === 'staff' || user.role === 'employee') { %>
                        <a class="nav-item nav-link text-warning" href="/request-admin_access">Request Admin Access</a>
                    <% } %>
                <% } %>
                <a class="nav-item nav-link text-danger" href="/login">Logout</a> <!-- no need to make another app.get for the logout, logout page is essentially a login page :) -->
            <% } else { %>
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link text-primary" href="/register">Register</a>
            <% } %>
        </div>
    </div>
</nav>